{% extends 'PartieAdmin/base.html' %}

{% block sidebar %}
 {% include 'PartieAdmin/sidebar.html' %}
{% endblock %}

{% block content %}
    <h1>this is a test for the templates</h1>

    <h2>Filières</h2>
    {% for filiere in filieres %}
    <p>Filiere: {{ filiere }}</p>
    {% endfor %}

    <h2>Modules</h2>
     {% for module in modules %}
    <p>Module: {{ module }}</p>
        {% for element in module.elements.all %}
            <p>Element: {{ element }}</p>
        {% endfor %}


    {% endfor %}

{% endblock %}


