{% extends 'PartieAdmin/base.html' %}

{% block sidebar %}
        {% include 'PartieAdmin/navbar.html' %}

{% endblock %}

{% block content %}

 <h2>Departement</h2>

    {% for departement in departements %}
    <p>Departement: {{ departement }}</p>

        {% for filier in departement.filiers.all %}
            <pre>     Filières: {{ filier }}</pre>

                {% for module in filier.modules.all %}
                <pre>         Module: {{ module }}</pre>

                    {% for element in module.elements.all %}
                        <pre>               Element: {{ element }}</pre>
                    {% endfor %}


                {% endfor %}


        {% endfor %}





    </ul>
    {% endfor %}



{% endblock %}



