{% extends "PartieAdmin/base.html" %}

{% block content %}      

{% load crispy_forms_filters %}

<!--Login-->

<div class="container py-5 w-25">
<div class="text-center"> <h1>Login</h1></div>

  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <div class="mb-4 mt-4 text-center"><button class=" btn btn-primary" type="submit">Login</button></div>

  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

{% endblock %}